*.a
*.d
*.csv
*.dat
*.eps
*.o
*.gif
*.h5
*.json
*.log
*.out
*.pcm
*.pdf
*.pkl
*.png
*.prof
*.ps
*.pyc
*.root
*.so
*.svg
*.tex
*.xml
*.yoda

.idea
workdir*
# unfolding_*
notebooks
TUnfold*
UndersmoothedUnfolding
dummy*